/build/
/chaincodes/metadata.json
/chaincodes/*.tar.gz
/crypto-config/
/channel-artifacts/
docker-compose-couch.yaml
shiroclient_phylum.yaml
shiroclient_fast.yaml
shiroclient.yaml
fabric-client_template.yaml
fabric-client.yaml
